<div class="col-md-12 col-sm-12" ng-controller="newOrderController">
		<h1>Create A New Order</h1>
		<p>{{params}}</p>
		<!-- DRINKS -->
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			<form>
				<h1>Drinks</h1>
				<div class="drinks">
					<ul>
						<li ng-repeat="drink in drinks" ng-click="toggleActive(drink)" ng-class="{active:drink.active}">
							{{drink.name}}
							<span class="plusminus" ng-click="removeOne(drink)">&#45</span>
							<span class="plusminus" ng-click="addOne(drink)">&#43</span>
							<!--<span>{{drink.quantity}}</span> -->
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="row">
			<!-- FOOD -->
			<div class="col-md-6 col-md-offset-3 col-sm-12" ng-repeat="foodPerCategory in foodToFilter() | filter: filterCategories">
				<form>
					<h1>{{foodPerCategory.category}}</h1>
					<div class="food">
						<ul>
							<li ng-repeat="food in food | filter: {category: foodPerCategory.category}" ng-click="toggleActive(drink)" ng-class="{active:food.active}">
								{{food.name}} 
								<span class="plusminus" ng-click="removeOne(food)">&#45</span>
								<span class="plusminus" ng-click="addOne(food)">&#43</span>
								<!-- <span>{{food.quantity}}</span> -->
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-md-3" ng-hide="addside">
				<form>
					<span><a href="#" ng-click="addside = true" class="closeDiv">&times</a></span>
					<h1>Choose Sides</h1>
					<div class="sides">
						<ul>
							<li ng-repeat="side in sides" ng-click="toggleActive(side)" ng-class="{active:food.active}">
								{{side.name}}
								<span class="plusminus" ng-click="removeOneSide(side)">&#45</span>
								<span class="plusminus" ng-click="addOneSide(side)">&#43</span>
								<!-- <span>{{food.quantity}}</span> -->
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>

		<!-- CURRENT ORDER -->
		<div class="col-md-8 col-md-offset-2 col-sm-12 currentOrder">
			<form class="currentorder" ng-submit="sendOrder()" name="postOrder">
				<h1>Current Order</h1>
				<ul>
					<li ng-repeat="order in order track by $index"> 
						{{order.name}} <a ng-repeat="side in order.sides"> + {{side.name}} </a> - {{order.price + order.sides[0].price + order.sides[1].price | currency}}
						<span class="plusminus" ng-click="removeOne(order)">&#88</span>
					</li>
				</ul>
				<button type="submit" class="btn btn-success closeDiv">Place Order</button>
			</form>

			<a href="/bill" class="btn btn-danger closeDiv" role="button" >Finalize Bill</a>
		</div>
</div>