<div class="col-md-8 col-md-offset-2 col-sm-12" ng-controller="DrinksController">
	<form>
		<h1>Drinks</h1>
		<div class="drinks">
			<ul>
				<li ng-repeat="drink in drinks" ng-click="toggleActive(drink)" ng-class="{active:drink.active}">
					{{drink.name}} - {{drink.price | currency}}
					<span class="plusminus" ng-click="removeOne(drink)">&#45</span>
					<span class="plusminus" ng-click="addOne(drink)">&#43</span>
					<span>{{drink.quantity}}</span>
				</li>
			</ul>
		</div>
		<div class="total">
			Total: {{totalq()}} items <span>{{total() | currency}}</span> 
		</div>
	</form>
</div>