<div class="row">
	<div class="col s10 offset-s1 m6 offset-m3">
		<div>
			<form class="register" action="/register" method="POST">
				<h1 class="text-center login">Register</h1>
				<div class="form-group login center-align input-field">
					
					<input class="form-control login center-align", id="username", type="text", name="username", placeholder="Username", required, autofocus>
				</div>
				<div class="form-group login center-align input-field">
					
					<input class="form-control center-align", id="password", type="password", name="password", placeholder="Password", required>
				</div>
				<div class="form-group login center-align input-field">
					
					<input class="form-control center-align", id="restaurantname", type="text", name="restaurant", placeholder="Restaurant Name", required>
				</div>
				<div class="form-group login center-align input-field">
					
					<input class="form-control login center-align", type="text", name="email", placeholder="Email Address", required>
				</div>
				<div class="form-group login center-align input-field">
					
					<textarea class="center-align materialize-textarea" id="description" rows="3" name="description" placeholder="  Restaurant Description"></textarea>
				</div>
				<button class="btn login center-align", type="submit">Register</button>
			</form>		
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#description').val('New Text');
  		$('#description').trigger('autoresize');
	});
</script>