<div class="">
	<div class="col-sm-6 col-md-offset-3">
		<div>
			<form novalidate="novalidate" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="PIN">Verify your account with the SMS PIN code</label>
					<div class="controls">
						<input type="number" id="PIN" ng-model="data.pin"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<a ng-click="verify()" class="btn btn-small btn-primary">update user</a>
					</div>
				</div>
			</form>	
		</div>
	</div>
</div>