@import url(https://fonts.googleapis.com/css?family=Cookie);

*{
	margin:0;
	padding:0;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

h1 {
	font-size: 50px;
	font-family:'Cookie', cursive;
}
.title {
	font-size: 40px;
	font-family:'Cookie', cursive;
	color: #fff;
	text-align: center;
}

.titlekitchen {
	font-size: 20px;
	font-family:'Cookie', cursive;
	color: #fff;
}

.status {
	font-size: 10px;
}


a, a:visited {
	outline:none;
	color:#fff;
}

#link {
	color: #fff;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

nav {
	background-color: #61a1bc !important;
	color: #fff;
}

nav a {
	color: #fff !important;
}

/*-------------------------
	The register form
--------------------------*/

.input-field input, .input-field textarea {
	border-bottom: 2px solid #fff !important;;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field textarea:focus {
     border-bottom: 2px solid #e57373 !important;
     box-shadow: 0 1px 0 0 #fff;
   }

.login input, .login textarea{
	color: #fff;
}

.login input {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }

/*-------------------------
	The order form
--------------------------*/

form{
	background-color: #61a1bc;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	padding: 10px 20px;
	margin: 10px auto;
}

form h1{
	color:#fff;
	font-size:54px;
	font-family:'Cookie', cursive;
	font-weight: normal;
	line-height:1;
	text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

form ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:10px 0 8px;
}

form ul li{
	padding:10px 15px;
	background-color:#e35885;
	margin-bottom:2px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
}

form ul li:hover {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

form ul li span{
	float:right;
}

form ul li.active{
	background-color:#8ec16d;
}

div.total{
	border-top:1px solid rgba(255,255,255,0.5);
	padding:15px 30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	color:#fff;
}

div.total span{
	float:right;
}

.plusminus {
	margin-left: 10px;
	font-size: 20px;
}

.plusminus:hover {
	color: #e57373;
}

#finalize {
	padding: 30px;
}


/*-------------------- 
WAITER VIEW 
--------------------*/

.tables {
	list-style-type: none;
	background-color: #61a1bc;
	font-size: 30px;
	margin: 5px;
	padding: 5px;
}

.tables a {
	color: #fff;
}

.tables a:hover {
	font-style: italic;
}

form.currentorder ul li{
	background-color:#8ec16d;
}

a.closeDiv {
	color: #fff;
}

.currentOrder {
	margin: ;
}

ul li.active {
	background-color: #8ec16d;
}

/*-------------------- 
LOGIN FORM
--------------------*/

.login {
	padding: 10px;
}

label {
	color: #fff;
}